body {
  margin: 0;
  padding: 0;
  .counter {
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 100px;
    height: 100px;
    padding-top: 25px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 40px;
    font-weight: bold;
    box-sizing: border-box;
  }
}